Services/Pohoda/Schemas/filter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.stormware.cz/schema/version_2/filter.xsd"
           xmlns:ftr="http://www.stormware.cz/schema/version_2/filter.xsd"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
  <xs:element name="filter">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ftr:number" minOccurs="0" />
        <xs:element ref="ftr:dateFrom" minOccurs="0" />
        <xs:element ref="ftr:dateTill" minOccurs="0" />
        <xs:element ref="ftr:symVar" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="number" type="xs:string" />
  <xs:element name="dateFrom" type="xs:date" />
  <xs:element name="dateTill" type="xs:date" />
  <xs:element name="symVar" type="xs:string" />
</xs:schema>
